/*
Styling to be used with VSCode extension "Markdown Converter" by manuth
*/

h2 {
    margin-top: .6in !important;
}

h3 {
    margin-top: .4in !important;
}

h4 {
    margin-top: .3in !important;
}

h5, h6 {
    margin-top: .2in !important;
}

p {
    margin-top: .13in !important;
}
